@page
@model WebApp.Pages.SamplePges.BasicsModel
@{
    //the cshtml page contains both cs code and html code
    //the @ symbol takes processing from the html environment and moves it
    //to the c# environment
    //processing any html code moves processing into the html environment

    //Set the text for the browser window tab
    ViewData["Title"] = "Review Page Basics";
}
<h1>Basics of Razor Page (Review)</h1>

@if (string.IsNullOrWhiteSpace(Model.MyName))
{
    <p>The random number is odd.</p>
}
else
{
    <p>@Model.MyName</p>
}<!--eof (end of if)-->
